#mini-banners i {
   font-size: 4em;
   margin-top: -2px;
   border: 1px solid rgb(13, 202, 240);
   border-radius: 100%;
   background-color: rgb(13, 202, 240);
   height: 100px;
   width: 100px;
   margin: auto;
   margin-top: -.5em;
}

ul {
    text-align: justify;
    
}

#navbar-items a {
    color: WHITE;
}

#collapse {
    justify-content: flex-end;
}