header {
    text-align: center;
    
}

.container{
    display: flex;
    justify-content: center;
}

h1 {
    color: green
}

.form-control {
    height: 54px;
    width: 580px;
    justify-content: center;
    border-radius: 5px;
}

.form-label {
    margin-top: 10px;
}


.row.mb-4 {
    margin-top: 10px;
}

#submitBtn, #fillFormBtn {
    margin-top: 10px;
    height: 54px;
    width: 179px;
    color: white;
    background-color: rgb(6, 186, 6);
    border-radius: 5px;
        
}

#fillFormBtn {
    width: 358px;
}


